/* CSS 리셋 */
@import "./reset.css";
/* 가상선택자 */
:root {
  /* color */
  --color-1: #645cbb;
  --color-2: #a084dc;
  --color-3: #bface2;
  --color-4: #ebc7e6;
  --color-5: #eddeeb;
  --color-yellow: #ffd700;
  --color-grey: #b0a6a6;
  --color-light-grey: #c2c2c2;
  --color-red: #760505;
  /* font-size */
  --font-size-large: 72px;
  --font-size-medium-large: 36px;
  --font-size-medium: 24px;
  --font-size-small: 18px;
  --font-size-micro: 12px;
  /* font-weight */
  --font-weight-bold: 700;
  --font-weight-semi-bold: 500;
  --font-weight-light: 300;
  /* padding */
  --padding-large: 80px;
  --padding-medium-large: 40px;
  --padding-medium: 24px;
  --padding-small: 14px;
  --padding-micro: 10px;
  /* margin */
  --margin-large: 80px;
  --margin-medium-large: 40px;
  --margin-medium: 24px;
  --margin-small: 14px;
  --margin-micro: 10px;
  /* animation */
  --animation-duration: 300ms;
  /* font-family */
  --font-family-default: "GmarketSansMedium";
}
/* 폰트 */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 16px;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.visible {
  display: flex;
}

.invisible {
  display: none;
}

/* 카트 */
.cart-cards-container {
  width: 100%;
  max-height: 600px;
  overflow: scroll;
}

.cart-cards-images-container {
  position: relative;
  width: 120px;
  height: 120px;
}

.cart-selectAll {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 5px solid var(--color-light-grey);
}

.selectAll-right {
  border: none;
  outline: none;
  background: none;
  color: var(--color-light-grey);
  cursor: pointer;
}

.cart-bottom {
  margin: 3rem 0;
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.total-quantity {
  margin-right: 2rem;
}

.buy-btn {
  margin-left: auto;
  border: none;
  outline: none;
  background: var(--color-1);
  color: #fff;
  font-size: 1.5rem;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#cart-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-cards-left {
  display: flex;
  align-items: center;
}

.cart-cards-images-container {
  display: inline;
}

.cart-cards-images {
  margin: 0 1rem;
}

.cart-cards-description {
  display: flex;
  flex-direction: column;
}

.cart-cards-name,
.cart-cards-price {
  margin-bottom: 0.5rem;
}

.cart-cards-name {
  font-size: 0.8rem;
}

.cart-cards-price {
  font-weight: var(--font-weight-bold);
}

.cart-cards-btn-box {
  display: flex;
  align-items: center;
}

.cart-plus-btn,
.cart-minus-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: none;
  outline: none;
  border: 2px solid var(--color-light-grey);
  cursor: pointer;
}

.cart-quantity {
  width: 2rem;
  text-align: center;
}

.cart-cards-right {
  background: none;
  outline: none;
  border: none;
  font-size: 1.25rem;
  color: var(--color-light-grey);
  cursor: pointer;
  padding: 1rem;
}

/* 갤럭시S20 울트라(세로) 기준 미디어쿼리 */
@media only screen and (max-width: 413px) {
  :root {
    /* font-size */
    --font-size-large: 48px;
    --font-size-medium-large: 22px;
    --font-size-medium: 16px;
    --font-size-small: 12px;
    --font-size-micro: 8px;
    /* padding */
    --padding-large: 40px;
    --padding-medium-large: 20px;
    --padding-medium: 12px;
    --padding-small: 7px;
    --padding-micro: 5px;
    /* margin */
    --margin-large: 40px;
    --margin-medium-large: 20px;
    --margin-medium: 12px;
    --margin-small: 7px;
    --margin-micro: 5px;
  }
}
