/* CSS 리셋 */
@import "./reset.css";
/* 가상선택자 */
:root {
  --color-1: #645cbb;
  --color-2: #a084dc;
  --color-3: #bface2;
  --color-4: #ebc7e6;
  --color-5: #eddeeb;
  --color-yellow: #ffd700;
  --color-grey: #b0a6a6;
  --color-light-grey: #c2c2c2;
  --color-red: #760505;

  --font-weight-bold: 700;
  --font-weight-semi-bold: 500;
  --font-weight-light: 300;

  --animation-duration: 300ms;
}
/* 폰트 */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 16px;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.visible {
  display: flex;
}

.invisible {
  display: none;
}

.containers {
  position: relative;
  padding: 0 20rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titles {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: 2rem;
  letter-spacing: 4px;
  font-style: italic;
}

.cards-containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cards {
  position: relative;
  margin: 1rem 1rem 3rem 1rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#main-container {
  font-family: "GmarketSansMedium";
  width: 100%;
}

/* 카카오 로고 */
.kakao-logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* 카드 디자인 */

.cards-image-container {
  width: 360px;
  height: 360px;
  position: relative;
  cursor: pointer;
}

.cards-description {
  background-color: var(--color-4);
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.cards-description > * {
  margin: 0.5rem;
}

.description-top {
  display: flex;
  justify-content: space-between;
}

.cards-name {
  color: var(--color-grey);
}

.cards-cart {
  font-size: 1.5rem;
  cursor: pointer;
  transition: var(--animation-duration) transform;
}

.cards-cart:hover {
  transform: scale(1.25);
}

.description-bottom {
  font-weight: var(--font-weight-bold);
}

.cards-index {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  cursor: default;
}
/* 장바구니에 넣기 클릭 시 모달 디자인 */
#add-to-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-2);
  opacity: 0.77;
}

#add-to-modal div {
  margin-bottom: 2rem;
}

#add-to-modal p {
  margin-bottom: 1rem;
}

/* 디테일 내부 장바구니에 넣기 클릭 시 모달 디자인 */
#detail-add-to-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-2);
  border-radius: 12px;
  opacity: 0.77;
}

#detail-add-to-modal div {
  margin-bottom: 2rem;
}

#detail-add-to-modal p {
  margin-bottom: 1rem;
}
/* 디테일 모달창 디자인 */
#detail-modal {
  width: 30%;
  height: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-5);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.225), 0 10px 10px rgba(0, 0, 0, 0.222);
  border-radius: 12px;
  padding: 2rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.detail-top {
  width: 100%;
  height: 60%;
  display: flex;
}

.detail-top > div {
  width: 50%;
}

.detail-image-container {
  position: relative;
}

.detail-image {
  border-radius: 12px 0 0 12px;
  opacity: 0.77;
}

.detail-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-4);
  border-radius: 0 12px 12px 0;
  font-size: 1.25rem;
}

.detail-description > * {
  margin-bottom: 0.5rem;
}

.detail-name {
  color: var(--color-1);
  font-size: 1rem;
  padding: 1.25rem;
  line-height: 1.7;
}

.detail-price {
  font-weight: var(--font-weight-bold);
}

.detail-bottom {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.detail-add-btn {
  background: var(--color-1);
  color: var(--color-4);
  padding: 0.25rem 0.5rem;
  outline: none;
  border: none;
  font-size: 1.5rem;
  border-radius: 8px;
  margin-top: 1.25rem;
  cursor: pointer;
}

.detail-preview-title {
  width: 100%;
  height: 5%;
  margin: 1rem auto;
  text-align: center;
  line-height: 1.7;
}

.detail-preview {
  margin-top: 1rem;
  padding: 0 0.5rem;
  position: relative;
  width: 120px;
  height: 185px;
  text-align: center;
  border: 2px solid var(--color-4);
  border-radius: 4px;
  cursor: pointer;
}

.detail-preview img {
  border-radius: 4px;
}

.detail-close-btn {
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
}

/* 카트 */
.cart-cards-container {
  width: 100%;
  max-height: 600px;
  overflow: scroll;
}

.cart-cards-images-container {
  position: relative;
  width: 120px;
  height: 120px;
}

.cart-selectAll {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 5px solid var(--color-light-grey);
}

.selectAll-right {
  border: none;
  outline: none;
  background: none;
  color: var(--color-light-grey);
  cursor: pointer;
}

.cart-bottom {
  margin: 3rem 0;
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.total-quantity {
  margin-right: 2rem;
}

.buy-btn {
  margin-left: auto;
  border: none;
  outline: none;
  background: var(--color-1);
  color: #fff;
  font-size: 1.5rem;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#cart-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-cards-left {
  display: flex;
  align-items: center;
}

.cart-cards-images-container {
  display: inline;
}

.cart-cards-images {
  margin: 0 1rem;
}

.cart-cards-description {
  display: flex;
  flex-direction: column;
}

.cart-cards-name,
.cart-cards-price {
  margin-bottom: 0.5rem;
}

.cart-cards-name {
  font-size: 0.8rem;
}

.cart-cards-price {
  font-weight: var(--font-weight-bold);
}

.cart-cards-btn-box {
  display: flex;
  align-items: center;
}

.cart-plus-btn,
.cart-minus-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: none;
  outline: none;
  border: 2px solid var(--color-light-grey);
  cursor: pointer;
}

.cart-quantity {
  width: 2rem;
  text-align: center;
}

.cart-cards-right {
  background: none;
  outline: none;
  border: none;
  font-size: 1.25rem;
  color: var(--color-light-grey);
  cursor: pointer;
  padding: 1rem;
}

/* 갤럭시S20 울트라(세로) 기준 미디어쿼리 */
@media only screen and (max-width: 413px) and (max-height: 916px) {
  html {
    font-size: 13px;
  }
  .containers {
    padding: 2rem;
  }
  #navbar {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .nav-menu,
  .nav-others {
    display: none;
  }
  .nav-menu {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .nav-menu li {
    margin-bottom: 1rem;
  }
  .nav-menu li:hover {
    border-bottom: 1px solid transparent;
    transform: scale(1.05);
  }
  .nav-others {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .nav-toggle-btn {
    display: block;
    top: 45px;
  }
  .visible {
    display: flex;
  }
  .cards-image-container {
    width: 240px;
    height: 240px;
  }
  #detail-modal {
    width: 75%;
    height: 75%;
  }
  .detail-top {
    height: 25%;
  }
  .detail-add-btn {
    font-size: 1rem;
  }
  .detail-bottom {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 75%;
    overflow: scroll;
  }
  .detail-preview {
    width: 42.5%;
  }
}

/* 갤럭시S20 울트라(가로) 기준 미디어쿼리 (아이폰 12 프로 호환)*/
@media only screen and (max-width: 916px) and (max-height: 413px) {
  html {
    font-size: 13px;
    padding: 0 2rem;
  }
  .containers {
    padding: 0 6rem;
  }
  #main-container {
    position: relative;
  }
  #navbar {
    position: unset;
  }
  .cards-image-container {
    width: 240px;
    height: 240px;
  }
  .cards-name {
    width: 150px;
  }
  #detail-modal {
    width: 50%;
    height: 75%;
  }
  .detail-top {
    height: 50%;
  }
  .detail-add-btn {
    font-size: 1rem;
  }
  .detail-bottom {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    overflow: scroll;
  }
  .detail-preview-title {
    line-height: 1.7;
    margin-bottom: 1rem;
  }
  .detail-preview {
    width: 32.5%;
    height: 85%;
  }
}

/* 아이패드 에어(세로) 기준 미디어쿼리 */
@media only screen and (max-width: 821px) and (max-height: 1181px) {
  .containers {
    padding: 0 2rem;
  }
  #navbar {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .nav-menu,
  .nav-others {
    display: none;
  }
  .nav-menu {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .nav-menu li {
    margin-bottom: 1rem;
  }
  .nav-menu li:hover {
    border-bottom: 1px solid transparent;
    transform: scale(1.05);
  }
  .nav-others {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .nav-toggle-btn {
    display: block;
    top: 45px;
  }
  .visible {
    display: flex;
  }
  .cards-image-container {
    width: 240px;
    height: 240px;
  }
  .cards-name {
    width: 150px;
  }
  #detail-modal {
    width: 75%;
    height: 75%;
  }
  .detail-top {
    height: 50%;
  }
  .detail-add-btn {
    font-size: 1rem;
  }
  .detail-bottom {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    overflow: scroll;
  }
  .detail-preview-title {
    line-height: 1.7;
    margin-bottom: 1rem;
  }
  .detail-preview {
    width: 42.5%;
    height: 85%;
  }
}

/* 아이패드 에어(가로) 기준 미디어쿼리 */
@media only screen and (max-width: 1181px) and (max-height: 821px) {
  html {
    font-size: 13px;
    padding: 0 2rem;
  }
  .containers {
    padding: 0 6rem;
  }
  #main-container {
    position: relative;
  }
  #navbar {
    position: unset;
  }
  .cards-image-container {
    width: 240px;
    height: 240px;
  }
  .cards-name {
    width: 150px;
  }
  #detail-modal {
    width: 50%;
    height: 75%;
  }
  .detail-top {
    height: 50%;
  }
  .detail-add-btn {
    font-size: 1rem;
  }
  .detail-bottom {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    overflow: scroll;
  }
  .detail-preview-title {
    line-height: 1.7;
    margin-bottom: 1rem;
  }
  .detail-preview {
    width: 42.5%;
    height: 85%;
  }
}
